*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Mensaje de advertencia */

#warning{
    background: black;
    text-align: center;
    color: white;
}

/* Configuracion de la barra de navegacion */

#navbar{
    display: flex;
    padding: 1rem 5rem 1rem  5rem;
    border: 1px solid gray;
    justify-content: space-between;
    font-size: 14px;
    color: #201B24;
}

/* Configuracion de la barra de navegacion lado derecho interno de la barra de navegacion */

#navbar_rigth{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
}

#navbar_rigth a{
    margin-left: 2rem;
    text-decoration: none;
}

#navbar_rigth ul{
    margin-right: 1rem;
    display: flex;
    list-style: none;
}

#navbar_rigth ul li{
    margin: 1rem;
}

#navbar_rigth ul li a{
    color: #201B24;
    margin: 0;
    cursor: pointer;
}


#navbar_rigth ul li a:hover{
    color: rgb(0, 140, 255);
}

/* configuracion del menu desplegable Programas */

#navbar ul #programas_list{
    display: none;
}


/* configuracion del menu desplegable Capacitaciones */

#navbar ul #capacitaciones_list{
    display: none;
}


#navbar_rigth button{
    padding: 8px 24px 8px 24px;
    border: 2px solid #201B24;
    border-radius: 24px;
    font-weight: 500;
    font-size: 12px;
    background: none;
}

#navbar_rigth button:hover{
    background: black;
    color: white;
    cursor: pointer;
}